footer
    .w-full.mx-auto.space-y-6.pb-6.bg-gray-100
        hr.border-gray-20
        span.block.text-sm.text-gray-500.text-center            
            a(href='/' class='hover:underline') Created by Khaira Maulida &copy; 2023 
            | . All Rights Reserved.

