style.
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    body {
        font-family: 'Lato', sans-serif;
    }

    .loader {
        background: #ffffff url('/img/loader.gif') no-repeat center center;
        background-size: 20%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
        opacity: 0.72;
    }

    .alert {
        z-index: 100;
    }